@keyframes dondola{
	0% { transform: rotate( -25deg ); }
	100% { transform: rotate( 25deg ); }
}

@keyframes dondolalong{
	0% { transform: rotate( -45deg ); }
	100% { transform: rotate( 45deg ); }
}

@keyframes pulsa{
	0% { transform: scale( 0.93 ); }
	100% { transform: scale( 1.07 ); }
}

@keyframes pulsalong{
	0% { transform: scale( 0.85 ); }
	100% { transform: scale( 1.15 ); }
}

@keyframes dondola{
	0% { transform: rotate( -25deg ); }
	100% { transform: rotate( 25deg ); }
}

@keyframes dondolalong{
	0% { transform: rotate( -45deg ); }
	100% { transform: rotate( 45deg ); }
}

@keyframes galleggia{
	0% { transform: translateY( -12% ); }
	100% { transform: translateY( 12% ); }
}

@keyframes galleggialong{
	0% { transform: translateY( -25% ); }
	100% { transform: translateY( 25% ); }
}

@keyframes risali-o-affonda{
	0% { transform: translateY( 150% ); }
	100% { transform: translateY( 0 ); }
}

@keyframes risali-o-affondalong{
	0% { transform: translateY( 300% ); }
	100% { transform: translateY( 0 ); }
}

@keyframes saltella{
	0% {transform: translateY(0%);}
	20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes saltellalong{
	0% {transform: translateY(0%);}
	20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-60px);}
	60% {transform: translateY(-30px);}
}

@keyframes rotola{
	0% { transform: translateX( calc( -50vw - 50% - 50px ) ) rotate( -270deg ); }
	100% { transform: translateX( calc( +50vw + 50% + 50px ) )  rotate( 270deg ); }
}

@keyframes rotolalong{
	0% { transform: translateX( calc( -50vw - 50% - 50px ) ) rotate( -450deg ); }
	100% { transform: translateX( calc( +50vw + 50% + 50px ) )  rotate( 450deg ); }
}

@keyframes gira{
	0% { transform: rotate( 0deg ); }
	100% { transform: rotate( 360deg ); }
}

@keyframes giralong{
	0% { transform: rotate( 0deg ); }
	100% { transform: rotate( 360deg ); }
}

@keyframes brilla{
	0% { box-shadow: 0 0 -10px rgba(232,189,109,0.88); }
	50% { box-shadow: 0 0 200px rgba(232,189,109,0.88); }
	100% { box-shadow: 0 0 300px rgba(232,189,109,0); }
}

@keyframes brillalong{
	0% { box-shadow: 0 0 -10px rgba(232,189,109,0.88); }
	50% { box-shadow: 0 0 300px rgba(232,189,109,0.88); }
	100% { box-shadow: 0 0 700px rgba(232,189,109,0); }
}

@keyframes brilla1{
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@keyframes exitToScaleFront{
	0% { transform: scale(1);}
	30% { opacity: 1; }
	99% { visibility: visible; }
	100% { transform: scale(1.3); opacity: 0; visibility: hidden;}
}

@keyframes enterFormScaleBack{
	0% { transform: perspective(1500px) translateZ(-500px); visibility: visible; opacity: 0;}
	100% { transform: perspective(1500px) translateZ(0); opacity: 1;}
}

@keyframes enterFormScaleFront{
	0% { transform: perspective(1500px) translateZ(500px); visibility: visible; opacity: 0;}
	100% { transform: perspective(1500px) translateZ(0); opacity: 1;}
}

@keyframes enterFromFade{
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes exitQuit{
	0% { transform: scale(1); opacity: 1; visibility: visible;}
	100% { transform: scale(0.5); opacity: 0; visibility: hidden;}
}

@keyframes enterQuit{
	0% { transform: scale(0.5); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes loadAnim{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes flipOutRight{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInLeft{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
	to { -webkit-transform: perspective(1500px) translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutLeft{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInRight{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
	to { -webkit-transform: perspective(1500px) translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutTop{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInBottom{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottom{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInTop{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes noneIn{
	0% { display: none; }
	100% { display: block; }
}

@keyframes noneOutPopup{
	0% { display: block; }
	100% { display: none; }
}

@keyframes noneInPopup{
	0% { display: none; }
	100% { display: block; }
}

@keyframes exitToRightPopup{
	0% { transform: translate(0,0); }
	100% { transform: translateX(100vw); }
}

@keyframes exitToScaleFrontPopup{
	0% { transform: scale(1);}
	30% { opacity: 1; }
	99% { visibility: visible; }
	100% { transform: scale(1.3); opacity: 0; visibility: hidden;}
}

@keyframes enterFormScaleBackPopup{
	0% { transform: translateZ(-500px); visibility: visible; opacity: 0;}
	100% { transform: translateZ(0); opacity: 1;}
}

@keyframes enterFormScaleFrontPopup{
	0% { transform: translateZ(500px); visibility: visible; opacity: 0;}
	100% { transform: translateZ(0); opacity: 1;}
}

@keyframes enterFromFadePopup{
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes exitQuitPopup{
	0% { transform: scale(1); opacity: 1; visibility: visible;}
	100% { transform: scale(0.5); opacity: 0; visibility: hidden;}
}

@keyframes enterQuitPopup{
	0% { transform: scale(0.5); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes loadAnimPopup{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes flipOutRightPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateY(90deg); transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInLeftPopup{
	from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
	to { -webkit-transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutLeftPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInRightPopup{
	from { -webkit-transform: translateZ(-1000px) rotateY(90deg); transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
	to { -webkit-transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutTopPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateX(90deg); transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInBottomPopup{
	from { -webkit-transform: translateZ(-1000px) rotateX(-90deg); transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottomPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateX(-90deg); transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInTopPopup{
	from { -webkit-transform: translateZ(-1000px) rotateX(90deg); transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes show-content-image{0%{visibility:hidden}99%{visibility:hidden}to{visibility:visible}}

@keyframes turn-on-visibility{0%{opacity:0}to{opacity:1}}

@keyframes turn-off-visibility{0%{opacity:1;visibility:visible}99%{opacity:0;visibility:visible}to{opacity:0;visibility:hidden}}

@keyframes lightbox-zoom-in{0%{transform:translate(calc((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position)),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale))}to{transform:translate(-50%,-50%) scale(1)}}

@keyframes lightbox-zoom-out{0%{transform:translate(-50%,-50%) scale(1);visibility:visible}99%{visibility:visible}to{transform:translate(calc((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position)),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));visibility:hidden}}

@keyframes overlay-menu__fade-in-animation{0%{opacity:0;transform:translateY(.5em)}to{opacity:1;transform:translateY(0)}}

@keyframes spin{100%{transform:rotate(360deg)}}

@font-face{font-family:star;src:url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff2"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-2ce14a.ttf") format("truetype");font-weight:400;font-style:normal}

@font-face{font-family:WooCommerce;src:url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff2"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-2ce14a.ttf") format("truetype");font-weight:400;font-style:normal}

.elementor-page-title{ display:var(--page-title-display) }

@keyframes eicon-spin{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}

.e-con-full{ padding-block-end:var(--padding-block-end);padding-block-start:var(--padding-block-start);text-align:var(--text-align) }

.e-con-full.e-flex{ flex-direction:var(--flex-direction) }

.e-con{ display:var(--display) }

@media (max-width:767px) { :is(.e-con, .e-con>.e-con-inner)>.elementor-background-video-container.elementor-hidden-mobile{ display:none } }

@media (max-width:767px) { .e-con.e-flex{ --width:100%;--flex-wrap:var(--flex-wrap-mobile) } }

@keyframes hide-scroll{0%,to{overflow:hidden}}

@keyframes e-off-canvas-close{0%,99.99%{opacity:1;visibility:visible}to{opacity:0;transform:none;visibility:hidden}}

@keyframes e-off-canvas-without-animation{0%{opacity:0;visibility:hidden}to{opacity:1;visibility:visible}}

@keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}

@keyframes loadingOpacityAnimation{0%,to{opacity:1}50%{opacity:.6}}

@keyframes swiper-preloader-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

@media(max-width:1024px) { .e-con{ --container-max-width:1024px; } }

@media(max-width:767px) { .e-con{ --container-max-width:767px; } }

.elementor-widget-theme-archive-title .elementor-heading-title{ font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary ); }

@media screen and (max-height: 1024px) { .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) *{ 
						background-image: none !important;
					 } }

@media screen and (max-height: 640px) { .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) *{ 
						background-image: none !important;
					 } }