.spaceadder-aem-GridColumn {  box-sizing:border-box;clear:both  }

.spaceadder-aem-GridColumn {   box-sizing: border-box; clear: both;   }

/* .spaceadder-Computed .spaceadder-styles: .spaceadder-div.spaceadder-spaceAdder .spaceadder-aem-GridColumn .spaceadder-aem-GridColumn--default--12 */ @media (min-width: 1200px) {  
  div.spaceAdder aem-GridColumn aem-GridColumn--default--12 {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 80px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: left;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 80px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 1470px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 735px 40px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 735px 40px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 1470px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }