.container { --bs-gutter-x:1.5rem;--bs-gutter-y:0;margin-left:auto;margin-right:auto;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100% }

@media(min-width:1200px) { .container { max-width:855pt } }

@media(min-width:1400px) { .container { max-width:990pt } }

.row>* { -ms-flex-negative:0;flex-shrink:0;margin-top:var(--bs-gutter-y);max-width:100%;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100% }

@media(min-width:576px) { .gx-sm-0 { --bs-gutter-x:0 } }

@media(min-width:576px) { .mt-sm-8 { margin-top:2rem!important } }

@media(min-width:992px) { .mt-lg-16 { margin-top:5rem!important } }