/* cyrillic-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* vietnamese */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRyS7m.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* vietnamese */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRxi7mw9c.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUQjIg1_i6t8kCHKm459WxRyS7m.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459WRhyzbi.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459W1hyzbi.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* vietnamese */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459WZhyzbi.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459Wlhyw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459WRhyzbi.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459W1hyzbi.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* vietnamese */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459WZhyzbi.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fmontserrat%2Fv31%2FJTUSjIg1_i6t8kCHKm459Wlhyw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fnunito%2Fv32%2FXRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTk3j77e.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fnunito%2Fv32%2FXRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTA3j77e.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* vietnamese */
@font-face { 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fnunito%2Fv32%2FXRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTs3j77e.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fnunito%2Fv32%2FXRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTo3j77e.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fnunito%2Fv32%2FXRXI3I6Li01BKofiOc5wtlZ2di8HDBImdTQ3jw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* latin-ext */
@font-face { 
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fbiorhyme%2Fv21%2F1cXtaULHBpDMsHYW_GZNh7loEHurwOIGadIc0bOaRSs.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fbiorhyme%2Fv21%2F1cXtaULHBpDMsHYW_GZNh7loEHurwOIGadIc37Oa.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* latin-ext */
@font-face { 
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fbiorhyme%2Fv21%2F1cXtaULHBpDMsHYW_GZNh7loEHurwOIGadIc0bOaRSs.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fbiorhyme%2Fv21%2F1cXtaULHBpDMsHYW_GZNh7loEHurwOIGadIc37Oa.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* latin-ext */
@font-face { 
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fbiorhyme%2Fv21%2F1cXtaULHBpDMsHYW_GZNh7loEHurwOIGadIc0bOaRSs.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'BioRhyme';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fbiorhyme%2Fv21%2F1cXtaULHBpDMsHYW_GZNh7loEHurwOIGadIc37Oa.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEIeqSg1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEseqSg1.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* greek */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEweqSg1.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
 }

/* vietnamese */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEAeqSg1.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEEeqSg1.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWE8eqQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEIeqSg1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEseqSg1.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* greek */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEweqSg1.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
 }

/* vietnamese */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEAeqSg1.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWEEeqSg1.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb7GDoxxrvAnPhYGxksWE8eqQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkkaE0GrQ.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxktaE0GrQ.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* greek */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkqaE0GrQ.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
 }

/* vietnamese */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkmaE0GrQ.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxknaE0GrQ.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkpaE0.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* cyrillic-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkkaE0GrQ.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

/* cyrillic */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxktaE0GrQ.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
 }

/* greek */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkqaE0GrQ.woff2') format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
 }

/* vietnamese */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkmaE0GrQ.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxknaE0GrQ.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fvollkorn%2Fv30%2F0yb9GDoxxrvAnPhYGxkpaE0.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* vietnamese */
@font-face { 
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* vietnamese */
@font-face { 
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* vietnamese */
@font-face { 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYsz_wNahGAdqQ43Rh_fKDp.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* vietnamese */
@font-face { 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fworksans%2Fv24%2FQGYsz_wNahGAdqQ43Rh_fKDp.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* vietnamese */
@font-face { 
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Flexenddeca%2Fv25%2FK2F1fZFYk-dHSE0UPPuwQ5qoJy_KZA.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Flexenddeca%2Fv25%2FK2F1fZFYk-dHSE0UPPuwQ5qpJy_KZA.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Flexenddeca%2Fv25%2FK2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* vietnamese */
@font-face { 
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Flexenddeca%2Fv25%2FK2F1fZFYk-dHSE0UPPuwQ5qoJy_KZA.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
 }

/* latin-ext */
@font-face { 
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Flexenddeca%2Fv25%2FK2F1fZFYk-dHSE0UPPuwQ5qpJy_KZA.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
 }

/* latin */
@font-face { 
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Flexenddeca%2Fv25%2FK2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* latin */
@font-face { 
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('http://localhost:3000/asset-proxy?url=https%3A%2F%2Ffonts.gstatic.com%2Fs%2Fsatisfy%2Fv22%2FrP2Hp2yn6lkG50LoCZOIHQ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

@keyframes spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

@keyframes blink {
from {
opacity: 0;
}
50% {
opacity: 1;
}
to {
opacity: 0;
}
}

html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}

body {
margin: 0;
}

main { 
display: block;
 }

h1 { 
margin: 0.67em 0;
 }

hr { 
box-sizing: content-box;
height: 0;
overflow: visible;
 }

pre { 
font-family: monospace, monospace;
font-size: 1em;
 }

a { 
background-color: rgba(0, 0, 0, 0);
 }

abbr[title] { 
border-bottom: none;
text-decoration: underline;
text-decoration: underline dotted;
 }

b, strong { 
font-weight: bolder;
 }

code, kbd, samp { 
font-family: monospace, monospace;
font-size: 1em;
 }

small { 
font-size: 80%;
 }

sub, sup { 
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
 }

sub { 
bottom: -0.25em;
 }

sup { 
top: -0.5em;
 }

img { 
border-style: none;
 }

button, input, optgroup, select, textarea { 
font-family: inherit;
font-size: 100%;
line-height: 1.15;
margin: 0;
 }

button, input { 
overflow: visible;
 }

button, select { 
text-transform: none;
 }

button, [type="button"], [type="reset"], [type="submit"] { 
-webkit-appearance: button;
 }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { 
border-style: none;
padding: 0;
 }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { 
outline: 1px dotted ButtonText;
 }

fieldset { 
padding: 0.35em 0.75em 0.625em;
 }

legend { 
box-sizing: border-box;
color: inherit;
display: table;
max-width: 100%;
padding: 0;
white-space: normal;
 }

progress { 
vertical-align: baseline;
 }

textarea { 
overflow: auto;
 }

[type="checkbox"], [type="radio"] { 
box-sizing: border-box;
padding: 0;
 }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { 
height: auto;
 }

[type="search"] { 
-webkit-appearance: textfield;
outline-offset: -2px;
 }

[type="search"]::-webkit-search-decoration { 
-webkit-appearance: none;
 }

::-webkit-file-upload-button { 
-webkit-appearance: button;
font: inherit;
 }

details { 
display: block;
 }

summary { 
display: list-item;
 }

template { 
display: none;
 }

[hidden] { 
display: none;
 }

*,
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

body,
button,
input,
select,
optgroup,
textarea {
color: #424242;
font-family: Montserrat, sans-serif;
font-size: 1rem;
line-height: 1.5;
font-weight: 500;
}

@media (min-width: 768px) { button, input, select, optgroup, textarea { 
font-size: 1.0625rem;
 } }

h1, h2, h3, h4, h5, h6 { 
clear: both;
font-family: BioRhyme, sans-serif;
margin: 0 0 15px 0;
font-weight: bold;
transition: all ease-in-out 0.1s;
line-height: 1.25;
margin-top: -0.2em;
 }

h1 { 
font-size: 1.5rem;
 }

h2 { 
font-size: 1.375rem;
 }

h3 { 
font-size: 1.25rem;
 }

h4 { 
font-size: 1.125rem;
 }

h5 { 
font-size: 1rem;
 }

h6 { 
font-size: 0.875rem;
 }

@media (min-width: 768px) { body {
font-size: clamp(1rem, 1.2vw, 1.1rem);
}

h1 { 
font-size: clamp(1.8rem, 2.5vw, 2.8rem);
 }

h2 { 
font-size: clamp(1.5rem, 2vw, 2.25rem);
 }

h3 { 
font-size: clamp(1.3rem, 1.75vw, 2rem);
 }

h4 { 
font-size: clamp(1.125rem, 1.5vw, 1.75rem);
 }

h5 { 
font-size: clamp(1rem, 1.25vw, 1.5rem);
 }

h6 { 
font-size: clamp(0.875rem, 1vw, 1.25rem);
 } }

@media (min-width: 1880px) { body {
font-size: clamp(1.2rem, 1.2vw, 2rem);
}

h1 { 
font-size: clamp(2.8rem, 2.8vw, 3.8rem);
 }

h2 { 
font-size: clamp(2rem, 2vw, 3rem);
 }

h3 { 
font-size: clamp(1.75rem, 1.75vw, 2.5rem);
 }

h4 { 
font-size: clamp(1.5rem, 1.5vw, 2rem);
 }

h5 { 
font-size: clamp(1.33rem, 1.25vw, 1.75rem);
 }

h6 { 
font-size: clamp(1.125rem, 1vw, 1.5rem);
 } }

p:last-of-type + h1, p:last-of-type + h2, p:last-of-type + h3, p:last-of-type + h4, p:last-of-type + h5, p:last-of-type + h6, p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, div + h1, div + h2, div + h3, div + h4, div + h5, div + h6, ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6 { 
margin-top: 2rem;
 }

p { 
margin: 0 0 1em;
 }

p:last-of-type, p:last-child { 
margin-bottom: 0;
 }

em, i { 
font-style: italic;
 }

blockquote { 
margin: 0 1.5em;
 }

body {
background: #fff;
}

hr { 
background-color: rgba(66, 66, 66, 0.15);
border: 0;
height: 1px;
margin-bottom: 1.5em;
 }

ul, ol { 
margin: 0 0 1.5em 0.5em;
 }

ul:last-child, ol:last-child { 
margin-bottom: 0;
 }

ul { 
list-style: disc;
 }

ol { 
list-style: decimal;
 }

li > ul, li > ol { 
margin-bottom: 0;
margin-left: 0.5em;
 }

embed, iframe, object { 
max-width: 100%;
 }

img { 
height: auto;
max-width: 100%;
 }

figure { 
margin: 1em 0;
 }

table { 
margin: 0 0 1.5em;
width: 100%;
 }

table:last-child { 
margin-bottom: 0;
 }

a { 
color: #ed1c24;
text-decoration: none;
position: relative;
 }

a:visited { 
color: #ed1c24;
 }

a:hover, a:active { 
color: #cf1919;
text-decoration: underline;
 }

a:focus { 
outline: 2px dotted;
 }

a:hover, a:active { 
outline: 0;
 }

button, input[type="button"], input[type="reset"], input[type="submit"] { 
border: 0;
border-radius: 20px;
color: #fff;
line-height: 1;
text-decoration: none;
font-family: "Nunito";
font-size: 1rem;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
transition: all ease-in-out 0.2s;
background: none;
background-color: #660707;
padding: 1em 2em;
 }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { 
background-color: #960a0a;
 }

button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus { 
border-color: #a11414;
 }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { 
color: #424242;
border: 1px solid #c1c9d0;
border-radius: 3px;
padding: 3px;
 }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { 
color: #000;
 }

select { 
border: 1px solid #c1c9d0;
 }

textarea { 
width: 100%;
 }

html[lang="en-US"] { 
margin-top: 0 !important;
 }

#wpadminbar { 
display: none;
 }

@media (min-width: 992px) { #wpadminbar { 
display: block;
 } }

.page-intro { 
background-color: #cf1919;
 }

.page-intro .image img { 
-o-object-fit: cover;
object-fit: cover;
-o-object-position: center;
object-position: center;
display: block;
width: 100%;
height: 100%;
 }

.page-intro .content { 
position: relative;
color: #fff;
width: 100%;
max-width: 1800px;
padding: 30px;
margin: 0 auto;
 }

.page-intro .content.with-image { 
max-width: none;
margin: auto;
width: auto;
 }

.page-intro .content .inner { 
position: relative;
z-index: 1;
 }

.page-intro .content h1 { 
text-transform: uppercase;
margin-bottom: 15px;
font-weight: 800;
text-transform: uppercase;
color: inherit;
 }

.page-intro .content p { 
margin-bottom: 0.5em;
 }

.page-intro .content p:last-of-type { 
margin-bottom: 0;
 }

@media (min-width: 992px) { .page-intro { 
display: flex;
 }

.page-intro .image, .page-intro .content.with-image { 
width: 50%;
 } }

@media (min-width: 1440px) { .page-intro .image { 
width: 40%;
 }

.page-intro .content.with-image { 
width: 60%;
padding: 70px 6vw 70px 6vw;
 }

.page-intro .content h1 { 
margin-bottom: 20px;
font-weight: 800;
 } }

body .mfp-bg {
opacity: 0.25;
background-color: #000;
}

body .mfp-wrap {
position: fixed !important;
height: 90% !important;
max-height: 90%;
width: calc(100% - 30px);
max-width: calc(100% - 30px);
overflow: hidden;
top: 0 !important;
left: 15px;
margin-top: 10%;
}

@media (min-width: 992px) { body .mfp-wrap {
height: 80% !important;
max-height: 80%;
width: 80%;
max-width: 800px;
top: 50% !important;
left: 50%;
transform: translate(-50%, -50%);
margin-top: 0;
margin-left: -8px;
} }

body .mfp-container {
height: 100%;
overflow-y: auto;
overflow: hidden;
padding-left: 0;
padding-right: 0;
}

body .mfp-content {
height: 100%;
}

.nutritionWrapper *{color:#000;font-family:Montserrat,sans-serif;line-height:1.5}

html{overflow-x:hidden}

@media(min-width: 560px){.category-wrapper .products .products-list.product-info-popup-open .product-info-popup~.product{width:calc(50% - 30px);margin:0 30px 30px 0}}

@media(min-width: 992px){.category-wrapper .products .products-list.product-info-popup-open .product-info-popup~.product{width:calc(33.33% - 30px)}}

@media(min-width: 560px){.category-wrapper .products .products-list .product a{display:flex;flex-direction:column;justify-content:space-between}}

@media(min-width: 560px){.category-wrapper .products .products-list .product{width:calc(50% - 15px);margin:0 30px 30px 0;margin-right:30px}.category-wrapper .products .products-list .product:nth-child(2n){margin-right:0}}

@media(min-width: 992px){.category-wrapper .products .products-list .product{width:calc(33.33% - 20px);margin-right:30px}.category-wrapper .products .products-list .product:nth-child(2n){margin-right:30px}.category-wrapper .products .products-list .product:nth-child(3n){margin-right:0}}

@media(min-width: 1440px){.category-wrapper .products .products-list .product.active:after{border-left:35px solid rgba(0,0,0,0);border-right:35px solid rgba(0,0,0,0);border-bottom:30px solid #fec003;bottom:-30px}}

@media(min-width: 560px){.category-wrapper .products .product-title{position:absolute;top:0;opacity:0;height:100%}}

@media(min-width: 480px){.category-wrapper .products .title{font-size:1.125rem}}

@media(min-width: 768px){.category-wrapper .products .title{font-size:1.5rem}}

@media(min-width: 560px){.category-wrapper .products .title.mb-off{background:#cf1919;color:#fff;padding:10px;min-height:82px;align-items:center;justify-content:center}}

@media(min-width: 992px){.category-wrapper .product-info-popup{margin-bottom:30px;padding:60px 0}}

@media(min-width: 480px){.category-wrapper .product-info-popup:before{width:calc(100% + 60px);margin-left:-30px;margin-right:-30px}}

@media(min-width: 1200px){.category-wrapper .product-info-popup:before{width:300%;margin-left:-150%}}

@media(min-width: 1260px){.category-wrapper .product-info-popup .close-popup{width:40px;height:40px;top:12px;right:0}.category-wrapper .product-info-popup .close-popup:before,.category-wrapper .product-info-popup .close-popup:after{width:40px;height:6px}}

@media(min-width: 992px){.category-wrapper .product-info-popup .product-content{margin-top:60px}}

@media(min-width: 992px){.category-wrapper .product-info-popup .product-nutrition-label{order:1}}

@media(min-width: 992px){.category-wrapper .product-info-popup .product-description .btn{padding:.75em 1.5em;font-size:1.5rem}}

@media(min-width: 992px){.category-wrapper .product-info-popup .product-content{display:flex;flex-direction:row}.category-wrapper .product-info-popup .product-nutrition-label{width:360px;margin-right:40px;margin-top:0}.category-wrapper .product-info-popup .product-description.with-nutrition-label{width:calc(100% - 400px)}}

@media(min-width: 560px){body.project-nice-brand .category-wrapper .products .products-list-wrapper .category-image{width:calc(50% - 15px);margin:0 30px 30px 0}}

@media(min-width: 992px){body.project-nice-brand .category-wrapper .products .products-list-wrapper .category-image{width:calc(33% - 30px)}}

@media(min-width: 560px){body.project-nice-brand .category-wrapper .products .products-header{padding:30px 100px}body.project-nice-brand .category-wrapper .products .products-header::before,body.project-nice-brand .category-wrapper .products .products-header::after{content:"";position:absolute;top:50%;transform:translateY(-50%);width:100px;height:50%;background-size:contain;background-repeat:no-repeat;background-position:center}body.project-nice-brand .category-wrapper .products .products-header::before{left:0}body.project-nice-brand .category-wrapper .products .products-header::after{right:0}}

@media(min-width: 768px){body.project-nice-brand .category-wrapper .products .products-header{padding:40px 130px}body.project-nice-brand .category-wrapper .products .products-header::before,body.project-nice-brand .category-wrapper .products .products-header::after{width:130px;height:70%}}

@media(min-width: 560px){body.project-nice-brand .category-wrapper .products:nth-of-type(2) .products-header::before{background-image:url(//olddutchfoods.com/wp-content/themes/olddutchfoods/images/project-nice-character-1.png)}body.project-nice-brand .category-wrapper .products:nth-of-type(2) .products-header::after{background-image:url(//olddutchfoods.com/wp-content/themes/olddutchfoods/images/project-nice-character-2.png)}}

@media(min-width: 560px){body.project-nice-brand .category-wrapper .products:nth-of-type(3) .products-header::before{background-image:url(//olddutchfoods.com/wp-content/themes/olddutchfoods/images/project-nice-character-3.png)}body.project-nice-brand .category-wrapper .products:nth-of-type(3) .products-header::after{background-image:url(//olddutchfoods.com/wp-content/themes/olddutchfoods/images/project-nice-character-4.png)}}

@media(min-width: 560px){body.project-nice-brand .category-wrapper .products:nth-of-type(4) .products-header::before{background-image:url(//olddutchfoods.com/wp-content/themes/olddutchfoods/images/project-nice-character-5.png)}body.project-nice-brand .category-wrapper .products:nth-of-type(4) .products-header::after{background-image:url(//olddutchfoods.com/wp-content/themes/olddutchfoods/images/project-nice-character-6.png)}}

img:is([sizes=auto i], [sizes^="auto, " i]) { contain-intrinsic-size:3000px 1500px }

/*# sourceURL=wp-img-auto-sizes-contain-inline-css */



:root { --wp-block-synced-color:#7a00df;--wp-block-synced-color--rgb:122,0,223;--wp-bound-block-color:var(--wp-block-synced-color);--wp-editor-canvas-background:#ddd;--wp-admin-theme-color:#007cba;--wp-admin-theme-color--rgb:0,124,186;--wp-admin-theme-color-darker-10:#006ba1;--wp-admin-theme-color-darker-10--rgb:0,107,160.5;--wp-admin-theme-color-darker-20:#005a87;--wp-admin-theme-color-darker-20--rgb:0,90,135;--wp-admin-border-width-focus:2px }

@media (min-resolution:192dpi) { :root{--wp-admin-border-width-focus:1.5px} }

:root .has-very-light-gray-background-color{background-color:#eee}

:root .has-very-dark-gray-background-color{background-color:#313131}

:root .has-very-light-gray-color{color:#eee}

:root .has-very-dark-gray-color{color:#313131}

:root .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background{background:linear-gradient(135deg,#00d084,#0693e3)}

:root .has-purple-crush-gradient-background{background:linear-gradient(135deg,#34e2e4,#4721fb 50%,#ab1dfe)}

:root .has-hazy-dawn-gradient-background{background:linear-gradient(135deg,#faaca8,#dad0ec)}

:root .has-subdued-olive-gradient-background{background:linear-gradient(135deg,#fafae1,#67a671)}

:root .has-atomic-cream-gradient-background{background:linear-gradient(135deg,#fdd79a,#004a59)}

:root .has-nightshade-gradient-background{background:linear-gradient(135deg,#330968,#31cdcf)}

:root .has-midnight-gradient-background{background:linear-gradient(135deg,#020381,#2874fc)}

:root{--wp--preset--font-size--normal:16px;--wp--preset--font-size--huge:42px}

#end-resizable-editor-section { display:none }

html :where(.has-border-color){border-style:solid}

html :where([style*=border-top-color]){border-top-style:solid}

html :where([style*=border-right-color]){border-right-style:solid}

html :where([style*=border-bottom-color]){border-bottom-style:solid}

html :where([style*=border-left-color]){border-left-style:solid}

html :where([style*=border-width]){border-style:solid}

html :where([style*=border-top-width]){border-top-style:solid}

html :where([style*=border-right-width]){border-right-style:solid}

html :where([style*=border-bottom-width]){border-bottom-style:solid}

html :where([style*=border-left-width]){border-left-style:solid}

html :where(img[class*=wp-image-]){height:auto;max-width:100%}

:where(figure) { margin:0 0 1em }

html :where(.is-position-sticky){--wp-admin--admin-bar--position-offset:var(--wp-admin--admin-bar--height,0px)}

@media screen and (max-width:600px) { html :where(.is-position-sticky){--wp-admin--admin-bar--position-offset:0px} }

/*# sourceURL=wp-block-library-inline-css */



:root { --wp--preset--aspect-ratio--square: 1;--wp--preset--aspect-ratio--4-3: 4/3;--wp--preset--aspect-ratio--3-4: 3/4;--wp--preset--aspect-ratio--3-2: 3/2;--wp--preset--aspect-ratio--2-3: 2/3;--wp--preset--aspect-ratio--16-9: 16/9;--wp--preset--aspect-ratio--9-16: 9/16;--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgb(6,147,227) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgb(252,185,0) 0%,rgb(255,105,0) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgb(255, 255, 255), 6px 6px rgb(0, 0, 0);--wp--preset--shadow--crisp: 6px 6px 0px rgb(0, 0, 0); }

body .is-layout-flex{display: flex;}

div) { margin: 0; }

body .is-layout-grid{display: grid;}

div) { margin: 0; }