.makerightshift-itc-how-shift {
  background-color: #ffedd6;
  display: flex;
  flex-direction: row;
  /* Tablet and Mobile styles */
}
.makerightshift-itc-how-shift .makerightshift-left-image-div {
  width: 100%;
}
.makerightshift-itc-how-shift .makerightshift-left-image-div img {
  width: 100%;
  height: 100%;
}
.makerightshift-itc-how-shift .makerightshift-read-more {
  padding: 22px 30px;
}
.makerightshift-itc-how-shift .makerightshift-read-more .makerightshift-read-more-text {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}
.makerightshift-itc-how-shift .makerightshift-read-more .makerightshift-how-shift-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.makerightshift-itc-how-shift .makerightshift-read-more .makerightshift-how-shift-button a {
  background-color: #2d2119 !important;
  padding: 15px 66px;
  color: #fcf1e4;
  border: transparent;
  border-radius: 28px;
  font-weight: 700;
  /* Equivalent to 700 assuming 16px base */
  border-radius: 28px;
}
@media (max-width: 767.98px) {
  .makerightshift-itc-how-shift {
    flex-direction: column;
    text-align: center;
  }
}
.makerightshift-itc-how-shift .makerightshift-itc-health-goal-wrapper {
  background-color: #2d2119;
}
.makerightshift-itc-how-shift h1 {
  padding-bottom: 0.5rem !important;
  font-size: 2.7vw;
  /* Equivalent to 40px assuming 16px base */
  font-family: "Paytone One";
  font-weight: 400;
  /* Equivalent to 400 assuming 16px base */
  color: #4f250a;
}
.makerightshift-itc-how-shift p {
  margin: 0 auto;
  font-size: 1.25rem;
  /* Equivalent to 20px assuming 16px base */
  line-height: 1.5rem;
  /* Equivalent to 24px assuming 16px base */
  color: #2d2119;
  text-align: center;
}
@media (max-width: 767.98px) {
  .makerightshift-itc-how-shift .makerightshift-itc-health-goal-wrapper img {
    width: 83px;
  }
  .makerightshift-itc-how-shift h1,
  .makerightshift-itc-how-shift .makerightshift-read-more-text h2 {
    font-size: 1.5rem;
    /* Equivalent to 24px assuming 16px base */
  }
}
@media (max-width: 390px) {
  .makerightshift-itc-how-shift h1 {
    padding: 0 12vw !important;
  }
}
.makerightshift-itc-how-shift {
  margin: 1rem 3rem;
  /* Equivalent to 16px and 48px assuming 16px base */
}
@media (max-width: 768px) {
  .makerightshift-itc-how-shift {
    margin: 0.5rem 1.5rem;
    /* Equivalent to 8px and 24px assuming 16px base */
  }
}
.makerightshift-itc-how-shift .makerightshift-read-more .makerightshift-how-shift-button {
  justify-content: start;
  margin-left: 2.5rem;
  /* Equivalent to 40px assuming 16px base */
}
@media (max-width: 767.98px) {
  .makerightshift-itc-how-shift .makerightshift-read-more .makerightshift-how-shift-button {
    justify-content: center;
    margin: 0;
  }
}
.makerightshift-why-shift-wrapper {
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-evenly !important;
}
.makerightshift-why-shift-wrapper .makerightshift-itc-health-goal-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 180%;
  min-height: unset !important;
  min-width: unset !important;
  align-items: center;
  background-color: #fcf1e4;
}
.makerightshift-why-shift-wrapper .makerightshift-itc-health-goal-wrapper img {
  width: 99px;
  /* Equivalent to 99px assuming 16px base */
  height: 99px;
  /* Equivalent to 99px assuming 16px base */
}
.makerightshift-why-shift-wrapper .makerightshift-image-label {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  /* Equivalent to 500 assuming 16px base */
  font-size: 1rem;
  /* Equivalent to 16px assuming 16px base */
  line-height: 1.5rem;
  /* Equivalent to 24px assuming 16px base */
}
.makerightshift-button a.cmp-button {
  background-color: #098040;
  padding: 15px 66px;
  color: #fcf1e4;
  border: transparent;
  border-radius: 28px;
  font-weight: 700;
  /* Equivalent to 700 assuming 16px base */
  font-size: 1.5rem;
  /* Equivalent to 24px assuming 16px base */
  line-height: 1.5;
  /* Equivalent to 24px assuming 16px base */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.makerightshift-button a.cmp-button:hover {
  opacity: 0.6;
  border-color: unset !important;
  text-decoration: none !important;
  box-shadow: none !important;
}
@media (max-width: 767.98px) {
  .makerightshift-why-shift-wrapper .makerightshift-itc-health-goal-wrapper img {
    width: 73px;
    /* Equivalent to 73px assuming 16px base */
    height: 73px;
    /* Equivalent to 73px assuming 16px base */
  }
  .makerightshift-why-shift-wrapper .makerightshift-image-label {
    font-size: 0.9375rem;
    /* Equivalent to 15px assuming 16px base */
    line-height: 1.25rem;
    /* Equivalent to 20px assuming 16px base */
    margin: 0;
  }
  .makerightshift-button a.cmp-button {
    padding: 15px 36px !important;
    font-size: 1.125rem !important;
    /* Equivalent to 18px assuming 16px base */
  }
  .makerightshift-button {
    margin-top: 15px;
  }
}
