@font-face{font-family:GothamHTFBook;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/3xilja2-7413fe.ttf") format("truetype");font-display:swap;}

@font-face{font-family:GothamHTFMedium;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/hfhe1h9-e83a10.ttf") format("truetype");font-display:swap;}

@font-face{font-family:NescafeSansBold;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/rsheeww-27b056.woff2") format("woff2");font-display:swap;}

@media print,screen and (min-width:48em) { .grid-container{ padding-right:2.5rem;padding-left:2.5rem; } }

@media print,screen and (min-width:64em) { .grid-container{ padding-right:2.5rem;padding-left:2.5rem; } }

@media print,screen and (min-width:64em) { .grid-x > .large-10{ flex-basis:auto; } }

@media print,screen and (min-width:64em) { .grid-x > .large-10{ -webkit-box-flex:0;flex:0 0 auto; }

.grid-x > .large-10{ width:83.3333%; } }

@media screen and (max-width:63.9988em) { .show-for-large{ display:none !important; } }

@media screen and (min-width:768px) { .button{ font-size:1.125rem;line-height:1.625rem; } }

@media screen and (min-width:768px) { .labelSmallBold{ font-size:1rem;line-height:1.375rem; } }

@media screen and (min-width:1024px) { .labelSmallBold{ font-size:1rem;line-height:1.5rem; } }

@media screen and (min-width:768px) { .bodyMediumRegular{ font-size:1rem;line-height:1.4375rem; } }

@media screen and (min-width:1024px) { .bodyMediumRegular{ font-size:1rem;line-height:1.5rem; } }

@media screen and (min-width:768px) { .bodySmallRegular, .tag__label{ font-size:0.875rem;line-height:1.25rem; } }

@media screen and (min-width:1024px) { .bodySmallRegular, .tag__label{ font-size:0.875rem;line-height:1.25rem; } }

@media screen and (min-width:768px) { .utilityTagHighCaps{ font-size:0.875rem;line-height:1.25rem; } }

.recipe-card .recipe-img-container .recipe-tag-mobile{ position:absolute;bottom:0.875rem;left:1rem; }

@media print,screen and (min-width:48em) { .recipe-card .recipe-img-container .recipe-tag-mobile{ display:none; } }

.recipe-card
  .recipe-details
  .recipe-info
  .recipe-steps-and-ingredients
  .recipe-steps-separator{ width:0.25rem;height:0.25rem;border-radius:50%;background-color:rgb(34,34,34);margin-left:0.5rem;margin-right:0.5rem; }

@media print,screen and (min-width:64em) { .recipe-card-grid-view .recipe-details .recipe-info .recipe-steps-separator{ display:none; } }

.recipe-card-grid-view .recipe-img-container .recipe-tag-mobile{ position:absolute;bottom:0.875rem;left:1rem; }

@media print,screen and (min-width:48em) { .recipe-card-grid-view .recipe-img-container .recipe-tag-mobile{ display:block; } }

@media print,screen and (min-width:64em) { .recipe-card-grid-view .recipe-img-container .recipe-tag-mobile{ display:none; } }

@font-face{font-family:GothamHTFBook;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/3xilja2-7413fe.ttf") format("truetype");font-display:swap;}

@font-face{font-family:GothamHTFMedium;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/hfhe1h9-e83a10.ttf") format("truetype");font-display:swap;}

@font-face{font-family:NescafeSansBold;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/rsheeww-27b056.woff2") format("woff2");font-display:swap;}

@media print,screen and (min-width:48em) { .grid-container{ padding-right:2.5rem;padding-left:2.5rem; } }

@media print,screen and (min-width:64em) { .grid-container{ padding-right:2.5rem;padding-left:2.5rem; } }

@media print,screen and (min-width:64em) { .grid-x > .large-10{ flex-basis:auto; } }

@media print,screen and (min-width:64em) { .grid-x > .large-10{ -webkit-box-flex:0;flex:0 0 auto; }

.grid-x > .large-10{ width:83.3333%; } }

@media screen and (max-width:63.9988em) { .show-for-large{ display:none !important; } }

@media screen and (min-width:768px) { .button{ font-size:1.125rem;line-height:1.625rem; } }

@media screen and (min-width:768px) { .labelSmallBold{ font-size:1rem;line-height:1.375rem; } }

@media screen and (min-width:1024px) { .labelSmallBold{ font-size:1rem;line-height:1.5rem; } }

@media screen and (min-width:768px) { .bodyMediumRegular{ font-size:1rem;line-height:1.4375rem; } }

@media screen and (min-width:1024px) { .bodyMediumRegular{ font-size:1rem;line-height:1.5rem; } }

@media screen and (min-width:768px) { .bodySmallRegular{ font-size:0.875rem;line-height:1.25rem; } }

@media screen and (min-width:1024px) { .bodySmallRegular{ font-size:0.875rem;line-height:1.25rem; } }

@media screen and (min-width:768px) { .utilityTagHighCaps{ font-size:0.875rem;line-height:1.25rem; } }

@font-face{font-family:GothamHTFBook;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/3xilja2-7413fe.ttf") format("truetype");font-display:swap;}

@font-face{font-family:GothamHTFMedium;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/hfhe1h9-e83a10.ttf") format("truetype");font-display:swap;}

@font-face{font-family:NescafeSansBold;src:url("/content/dam/aemigrate/uploaded-folder/www-nescafe-com/font/rsheeww-27b056.woff2") format("woff2");font-display:swap;}

@media print,screen and (min-width:48em) { .grid-container{ padding-right:2.5rem;padding-left:2.5rem; } }

@media print,screen and (min-width:64em) { .grid-container{ padding-right:2.5rem;padding-left:2.5rem; } }

@media print,screen and (min-width:64em) { .grid-x > .large-6, .grid-x > .large-10{ flex-basis:auto; } }

@media print,screen and (min-width:64em) { .grid-x > .large-6, .grid-x > .large-10{ -webkit-box-flex:0;flex:0 0 auto; }

.grid-x > .large-6{ width:50%; }

.grid-x > .large-10{ width:83.3333%; } }

@media screen and (max-width:63.9988em) { .show-for-large{ display:none !important; } }

@media screen and (min-width:768px) { .button{ font-size:1.125rem;line-height:1.625rem; } }

@media screen and (min-width:768px) { .labelSmallBold{ font-size:1rem;line-height:1.375rem; } }

@media screen and (min-width:1024px) { .labelSmallBold{ font-size:1rem;line-height:1.5rem; } }

@media screen and (min-width:768px) { .bodyMediumRegular{ font-size:1rem;line-height:1.4375rem; } }

@media screen and (min-width:1024px) { .bodyMediumRegular{ font-size:1rem;line-height:1.5rem; } }

@media screen and (min-width:768px) { .bodySmallRegular{ font-size:0.875rem;line-height:1.25rem; } }

@media screen and (min-width:1024px) { .bodySmallRegular{ font-size:0.875rem;line-height:1.25rem; } }

@media screen and (min-width:768px) { .utilityTagHighCaps{ font-size:0.875rem;line-height:1.25rem; } }

.animate-enter .animate-enter-fade-left-long{ transform:translate3d(100px,0px,0px); }

.animate-enter .animate-enter-fade-left-long{ opacity:0; }

@keyframes onetrust-fade-in{0%{opacity:0}100%{opacity:1}}

@keyframes slide-down-custom{
            0% {
                bottom: 10800px !important;
            }
            100% {
                bottom: 0px;
            }
        }

@keyframes otFloatingBtnIntro{0%{opacity:0;left:-75px}100%{opacity:1;left:1%}}

@keyframes otFloatingBtnImageIntro{0%{opacity:0;transform:scale(0) rotate(-270deg)}100%{opacity:100%;transform:scale(0.95) rotate(0deg)}}