.shiftclub-d-block {  display:block !important  }

.shiftclub-w-100 {  width:100% !important  }

.shiftclub-mx-4 {  margin-right:1.5rem !important  }

.shiftclub-mx-4 {  margin-left:1.5rem !important  }

.shiftclub-active {  opacity:1  }

.shiftclub-d-block {   display: block !important;   }

.shiftclub-w-100 {   width: 100% !important;   }

.shiftclub-mx-4 {   margin-right: 1.5rem !important;   }

.shiftclub-mx-4 {   margin-left: 1.5rem !important;   }

@media (min-width: 768px) { .shiftclub-mx-md-0 {   margin-right: 0px !important;   }

.shiftclub-mx-md-0 {   margin-left: 0px !important;   } }

.shiftclub-active {   opacity: 1;   }

/* .shiftclub-Computed .shiftclub-styles: .shiftclub-span.shiftclub-d-block */ @media (min-width: 1200px) {  
  span.d-block {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 15px;
    border-block-end-color: rgb(83, 48, 18);
    border-block-start-color: rgb(83, 48, 18);
    border-bottom-color: rgb(83, 48, 18);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(83, 48, 18);
    border-inline-start-color: rgb(83, 48, 18);
    border-left-color: rgb(83, 48, 18);
    border-right-color: rgb(83, 48, 18);
    border-top-color: rgb(83, 48, 18);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(83, 48, 18);
    clip-rule: nonzero;
    color: rgb(83, 48, 18);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(83, 48, 18);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 10px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 15px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 32px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 15px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(83, 48, 18);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 16px 7.5px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: right;
    text-anchor: start;
    text-decoration: none solid rgb(83, 48, 18);
    text-decoration-color: rgb(83, 48, 18);
    text-decoration-style: solid;
    text-emphasis-color: rgb(83, 48, 18);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 16px 7.5px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 32px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(83, 48, 18);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(83, 48, 18);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .shiftclub-Computed .shiftclub-styles: .shiftclub-div.shiftclub-w-100 */ @media (min-width: 1200px) {  
  div.w-100 {
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 127.5px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: block;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 127.5px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 466px;
    interpolate-size: numeric-only;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    perspective-origin: 233px 63.75px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: center;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 233px 63.75px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 466px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }

/* .shiftclub-Computed .shiftclub-styles: .shiftclub-div.shiftclub-w-md-50 .shiftclub-w-100 .shiftclub-itc-club-right-wrapper .shiftclub-read-more */ @media (min-width: 1200px) {  
  div.w-md-50 w-100 itc-club-right-wrapper read-more {
    align-items: baseline;
    animation-composition: replace;
    animation-delay: 0s;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(0deg, rgb(248, 215, 101) 0px, rgb(248, 215, 101) 100%);
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    block-size: 434px;
    border-block-end-color: rgb(45, 33, 25);
    border-block-start-color: rgb(45, 33, 25);
    border-bottom-color: rgb(45, 33, 25);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-inline-end-color: rgb(45, 33, 25);
    border-inline-start-color: rgb(45, 33, 25);
    border-left-color: rgb(45, 33, 25);
    border-right-color: rgb(45, 33, 25);
    border-top-color: rgb(45, 33, 25);
    box-decoration-break: slice;
    box-sizing: border-box;
    caption-side: top;
    caret-color: rgb(45, 33, 25);
    clip-rule: nonzero;
    color: rgb(45, 33, 25);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    column-gap: 10px;
    column-rule-color: rgb(45, 33, 25);
    direction: ltr;
    display: flex;
    dynamic-range-limit: no-limit;
    empty-cells: show;
    field-sizing: fixed;
    fill: rgb(0, 0, 0);
    fill-opacity: 1;
    fill-rule: nonzero;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Urbanist;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    grid-auto-flow: row;
    height: 434px;
    hyphens: manual;
    image-orientation: from-image;
    inline-size: 558.266px;
    interpolate-size: numeric-only;
    justify-content: center;
    lighting-color: rgb(255, 255, 255);
    line-height: 24px;
    list-style-position: outside;
    list-style-type: disc;
    mask-clip: border-box;
    mask-composite: add;
    mask-mode: match-source;
    mask-origin: border-box;
    mask-position: 0% 0%;
    mask-repeat: repeat;
    mask-type: luminance;
    math-depth: 0;
    min-block-size: 434px;
    min-height: 434px;
    object-fit: fill;
    object-position: 50% 50%;
    offset-rotate: auto 0deg;
    opacity: 1;
    order: 0;
    orphans: 2;
    outline-color: rgb(45, 33, 25);
    overflow-block: visible;
    overflow-inline: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding-block-end: 56px;
    padding-block-start: 24px;
    padding-bottom: 56px;
    padding-inline-end: 45px;
    padding-inline-start: 46px;
    padding-left: 46px;
    padding-right: 45px;
    padding-top: 24px;
    perspective-origin: 279.125px 217px;
    position: static;
    position-visibility: always;
    print-color-adjust: economy;
    row-gap: 10px;
    ruby-align: space-around;
    ruby-position: over;
    scroll-timeline-axis: block;
    shape-image-threshold: 0;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1px;
    tab-size: 8;
    text-align: left;
    text-anchor: start;
    text-decoration: none solid rgb(45, 33, 25);
    text-decoration-color: rgb(45, 33, 25);
    text-decoration-style: solid;
    text-emphasis-color: rgb(45, 33, 25);
    text-emphasis-position: over;
    text-overflow: clip;
    text-size-adjust: 100%;
    text-wrap-mode: wrap;
    transform-origin: 279.133px 217px;
    transform-style: flat;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: isolate;
    vertical-align: baseline;
    view-timeline-axis: block;
    visibility: visible;
    white-space-collapse: collapse;
    widows: 2;
    width: 558.266px;
    writing-mode: horizontal-tb;
    zoom: 1;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-locale: "en";
    -webkit-mask-box-image-outset: 0;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: rgb(45, 33, 25);
    -webkit-text-orientation: vertical-right;
    -webkit-text-stroke-color: rgb(45, 33, 25);
    -webkit-user-modify: read-only;
    -webkit-writing-mode: horizontal-tb;
  }
  }