@keyframes dondola{
	0% { transform: rotate( -25deg ); }
	100% { transform: rotate( 25deg ); }
}

@keyframes dondolalong{
	0% { transform: rotate( -45deg ); }
	100% { transform: rotate( 45deg ); }
}

@keyframes pulsa{
	0% { transform: scale( 0.93 ); }
	100% { transform: scale( 1.07 ); }
}

@keyframes pulsalong{
	0% { transform: scale( 0.85 ); }
	100% { transform: scale( 1.15 ); }
}

@keyframes dondola{
	0% { transform: rotate( -25deg ); }
	100% { transform: rotate( 25deg ); }
}

@keyframes dondolalong{
	0% { transform: rotate( -45deg ); }
	100% { transform: rotate( 45deg ); }
}

@keyframes galleggia{
	0% { transform: translateY( -12% ); }
	100% { transform: translateY( 12% ); }
}

@keyframes galleggialong{
	0% { transform: translateY( -25% ); }
	100% { transform: translateY( 25% ); }
}

@keyframes risali-o-affonda{
	0% { transform: translateY( 150% ); }
	100% { transform: translateY( 0 ); }
}

@keyframes risali-o-affondalong{
	0% { transform: translateY( 300% ); }
	100% { transform: translateY( 0 ); }
}

@keyframes saltella{
	0% {transform: translateY(0%);}
	20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@keyframes saltellalong{
	0% {transform: translateY(0%);}
	20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-60px);}
	60% {transform: translateY(-30px);}
}

@keyframes rotola{
	0% { transform: translateX( calc( -50vw - 50% - 50px ) ) rotate( -270deg ); }
	100% { transform: translateX( calc( +50vw + 50% + 50px ) )  rotate( 270deg ); }
}

@keyframes rotolalong{
	0% { transform: translateX( calc( -50vw - 50% - 50px ) ) rotate( -450deg ); }
	100% { transform: translateX( calc( +50vw + 50% + 50px ) )  rotate( 450deg ); }
}

@keyframes gira{
	0% { transform: rotate( 0deg ); }
	100% { transform: rotate( 360deg ); }
}

@keyframes giralong{
	0% { transform: rotate( 0deg ); }
	100% { transform: rotate( 360deg ); }
}

@keyframes brilla{
	0% { box-shadow: 0 0 -10px rgba(232,189,109,0.88); }
	50% { box-shadow: 0 0 200px rgba(232,189,109,0.88); }
	100% { box-shadow: 0 0 300px rgba(232,189,109,0); }
}

@keyframes brillalong{
	0% { box-shadow: 0 0 -10px rgba(232,189,109,0.88); }
	50% { box-shadow: 0 0 300px rgba(232,189,109,0.88); }
	100% { box-shadow: 0 0 700px rgba(232,189,109,0); }
}

@keyframes brilla1{
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}

@keyframes exitToScaleFront{
	0% { transform: scale(1);}
	30% { opacity: 1; }
	99% { visibility: visible; }
	100% { transform: scale(1.3); opacity: 0; visibility: hidden;}
}

@keyframes enterFormScaleBack{
	0% { transform: perspective(1500px) translateZ(-500px); visibility: visible; opacity: 0;}
	100% { transform: perspective(1500px) translateZ(0); opacity: 1;}
}

@keyframes enterFormScaleFront{
	0% { transform: perspective(1500px) translateZ(500px); visibility: visible; opacity: 0;}
	100% { transform: perspective(1500px) translateZ(0); opacity: 1;}
}

@keyframes enterFromFade{
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes exitQuit{
	0% { transform: scale(1); opacity: 1; visibility: visible;}
	100% { transform: scale(0.5); opacity: 0; visibility: hidden;}
}

@keyframes enterQuit{
	0% { transform: scale(0.5); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes loadAnim{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes flipOutRight{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInLeft{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
	to { -webkit-transform: perspective(1500px) translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutLeft{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInRight{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); transform: perspective(1500px) translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
	to { -webkit-transform: perspective(1500px) translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutTop{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInBottom{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottom{
	from { }
	to { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInTop{
	from { -webkit-transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); transform: perspective(1500px) translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes noneIn{
	0% { display: none; }
	100% { display: block; }
}

@keyframes noneOutPopup{
	0% { display: block; }
	100% { display: none; }
}

@keyframes noneInPopup{
	0% { display: none; }
	100% { display: block; }
}

@keyframes exitToRightPopup{
	0% { transform: translate(0,0); }
	100% { transform: translateX(100vw); }
}

@keyframes exitToScaleFrontPopup{
	0% { transform: scale(1);}
	30% { opacity: 1; }
	99% { visibility: visible; }
	100% { transform: scale(1.3); opacity: 0; visibility: hidden;}
}

@keyframes enterFormScaleBackPopup{
	0% { transform: translateZ(-500px); visibility: visible; opacity: 0;}
	100% { transform: translateZ(0); opacity: 1;}
}

@keyframes enterFormScaleFrontPopup{
	0% { transform: translateZ(500px); visibility: visible; opacity: 0;}
	100% { transform: translateZ(0); opacity: 1;}
}

@keyframes enterFromFadePopup{
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes exitQuitPopup{
	0% { transform: scale(1); opacity: 1; visibility: visible;}
	100% { transform: scale(0.5); opacity: 0; visibility: hidden;}
}

@keyframes enterQuitPopup{
	0% { transform: scale(0.5); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes loadAnimPopup{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes flipOutRightPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateY(90deg); transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@keyframes flipInLeftPopup{
	from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
	to { -webkit-transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutLeftPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

@keyframes flipInRightPopup{
	from { -webkit-transform: translateZ(-1000px) rotateY(90deg); transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
	to { -webkit-transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}

@keyframes flipOutTopPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateX(90deg); transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes flipInBottomPopup{
	from { -webkit-transform: translateZ(-1000px) rotateX(-90deg); transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipOutBottomPopup{
	from { }
	to { -webkit-transform: translateZ(-1000px) rotateX(-90deg); transform: translateZ(-1000px) rotateX(-90deg); opacity: 0.2; }
}

@keyframes flipInTopPopup{
	from { -webkit-transform: translateZ(-1000px) rotateX(90deg); transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}

@keyframes show-content-image{0%{visibility:hidden}99%{visibility:hidden}to{visibility:visible}}

@keyframes turn-on-visibility{0%{opacity:0}to{opacity:1}}

@keyframes turn-off-visibility{0%{opacity:1;visibility:visible}99%{opacity:0;visibility:visible}to{opacity:0;visibility:hidden}}

@keyframes lightbox-zoom-in{0%{transform:translate(calc((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position)),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale))}to{transform:translate(-50%,-50%) scale(1)}}

@keyframes lightbox-zoom-out{0%{transform:translate(-50%,-50%) scale(1);visibility:visible}99%{visibility:visible}to{transform:translate(calc((-100vw + var(--wp--lightbox-scrollbar-width))/2 + var(--wp--lightbox-initial-left-position)),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));visibility:hidden}}

@keyframes overlay-menu__fade-in-animation{0%{opacity:0;transform:translateY(.5em)}to{opacity:1;transform:translateY(0)}}

@keyframes spin{100%{transform:rotate(360deg)}}

@font-face{font-family:star;src:url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff2"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-2ce14a.ttf") format("truetype");font-weight:400;font-style:normal}

@font-face{font-family:WooCommerce;src:url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff2"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-379448.woff") format("woff"),url("/content/dam/aemigrate/uploaded-folder/natarajofficial-com/font/woocommerce-2ce14a.ttf") format("truetype");font-weight:400;font-style:normal}

@keyframes eicon-spin{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}

@keyframes hide-scroll{0%,to{overflow:hidden}}

@keyframes e-off-canvas-close{0%,99.99%{opacity:1;visibility:visible}to{opacity:0;transform:none;visibility:hidden}}

@keyframes e-off-canvas-without-animation{0%{opacity:0;visibility:hidden}to{opacity:1;visibility:visible}}

/*! elementor-pro - v3.30.0 - 01-07-2025 */
.elementor-widget-search{ --e-search-white:#fff;--e-search-light-grey:#cdcdcd;--e-search-medium-grey:#515962;--e-search-dark-grey:#2d2d2d;--e-search-black:#000;--e-search-dark-red:#c36;--e-search-dark-purple:#336;--e-search-input-color:var(--e-search-medium-grey);--e-search-input-border-color:var(--e-search-light-grey);--e-search-input-border-radius:0;--e-search-input-gap:4px;--e-search-input-padding:16px;--e-search-input-padding-inline-start:16px;--e-search-input-padding-inline-end:16px;--e-search-input-padding-block-start:16px;--e-search-input-padding-block-end:16px;--e-search-input-transition:0.3s;--e-search-placeholder-color:var(--e-search-medium-grey);--e-search-icon-label-color:var(--e-search-medium-grey);--e-search-icon-label-size:24px;--e-search-icon-label-absolute-width:initial;--e-search-icon-clear-color:var(--e-search-light-grey);--e-search-icon-clear-size:12px;--e-search-icon-clear-absolute-width:initial;--e-search-icon-clear-transition:0.3s;--e-search-submit-color:var(--e-search-white);--e-search-submit-background-color:var(--e-search-dark-grey);--e-search-submit-border-color:none;--e-search-submit-border-type:none;--e-search-submit-border-radius:0;--e-search-submit-border-width:0px;--e-search-submit-padding:24px;--e-search-submit-margin-inline-start:8px;--e-search-submit-button-width:initial;--e-search-submit-button-flex-direction:row;--e-search-submit-hover-transition:0.3s;--e-search-pagination-numbers-padding-left:8px;--e-search-pagination-numbers-padding-right:8px;--e-search-icon-submit-color:var(--e-search-white);--e-search-submit-icon-gap:8px;--e-search-submit-icon-margin-inline-start:0px;--e-search-submit-icon-margin-inline-end:var(--e-search-submit-icon-gap);--e-search-icon-submit-size:24px;--e-search-submit-transition:0.3s;--e-search-results-background-color:var(--e-search-white);--e-search-results-border-color:var(--e-search-light-grey);--e-search-results-border-type:solid;--e-search-results-border-width:1px;--e-search-results-border-radius:0px;--e-search-results-padding:16px;--e-search-results-width:100%;--e-search-results-columns:1;--e-search-results-max-height:initial;--e-search-input-and-results-gap:8px;--e-search-results-transition:0.3s;--e-search-loop-item-equal-height:initial;--e-search-results-grid-auto-rows:initial;--e-search-results-inset-inline-start:initial;--e-search-results-inset-inline-end:initial;--e-search-results-transform:initial;--e-search-results-default-gap:16px;--e-search-results-column-gap:var(--e-search-results-default-gap);--e-search-results-row-gap:var(--e-search-results-default-gap);--e-search-pagination-inset-inline-start:initial;--e-search-pagination-inline-end:initial;--e-search-pagination-transform:initial;--e-search-pagination-border-radius:0px;--e-search-pagination-background-color:var(--e-search-black);--e-search-pagination-text-align:center;--e-search-pagination-justify-content:center;--e-search-pagination-color:var(--e-search-dark-red);--e-search-pagination-hover:var(--e-search-dark-purple);--e-search-pagination-current:var(--e-search-black);--e-search-pagination-page-numbers-gap:10px;--e-search-pagination-block-end-spacing:0px;--e-search-pagination-block-start-spacing:0px;--e-search-pagination-vertical-position:column;--e-search-nothing-found-padding-block-start:0;--e-search-nothing-found-padding-block-end:0;--e-search-nothing-found-results-columns:1;--e-search-nothing-found-message-color:var(--e-search-medium-grey);--e-search-nothing-found-message-alignment:center;--e-search-loader-icon-color:var(--e-search-black);--e-search-loader-icon-size:34px }

.elementor-widget-search .e-search-form{ display:flex }

.elementor-widget-search .e-search-label{ display:flex;position:relative;z-index:10 }

.elementor-widget-search .e-search-label>svg{ inset-block-start:50%;inset-inline-start:var(--e-search-input-padding-inline-start);position:absolute;transform:translateY(-50%);transition:width 0s,height 0s }

.elementor-widget-search .e-search-label>svg:is(i){ color:var(--e-search-icon-label-color);font-size:var(--e-search-icon-label-size) }

.elementor-widget-search .e-search-label>svg:is(svg){ fill:var(--e-search-icon-label-color);height:var(--e-search-icon-label-size);width:auto }

.elementor-widget-search .e-search-input-wrapper{ display:flex;flex:1;flex-direction:column;position:relative }

.elementor-widget-search .e-search-input-wrapper>svg{ cursor:pointer;inset-block-start:50%;inset-inline-end:var(--e-search-input-padding-inline-end);position:absolute;transform:translateY(-50%);transition:color var(--e-search-icon-clear-transition),fill var(--e-search-icon-clear-transition),width 0s,height 0s }

.elementor-widget-search .e-search-input-wrapper>svg:is(i){ color:var(--e-search-icon-clear-color);font-size:var(--e-search-icon-clear-size) }

.elementor-widget-search .e-search-input-wrapper>svg:is(svg){ fill:var(--e-search-icon-clear-color);height:var(--e-search-icon-clear-size);width:auto }

.elementor-widget-search .e-search-input{ --e-search-icons-min-height:max(var(--e-search-icon-clear-size),var(--e-search-icon-label-size));border-color:var(--e-search-input-border-color);border-radius:var(--e-search-input-border-radius);color:var(--e-search-input-color);height:100%;min-height:calc(var(--e-search-input-padding-block-end) + var(--e-search-input-padding-block-start) + var(--e-search-icons-min-height));padding-block-end:var(--e-search-input-padding-block-end);padding-block-start:var(--e-search-input-padding-block-start);padding-inline-end:calc(var(--e-search-input-padding-inline-end) + var(--e-search-icon-clear-absolute-width) + var(--e-search-input-gap));padding-inline-start:calc(var(--e-search-input-padding-inline-start) + var(--e-search-icon-label-absolute-width) + var(--e-search-input-gap));transition:padding-inline 0s }

.elementor-widget-search .e-search-input::-moz-placeholder{ color:var(--e-search-placeholder-color) }

.elementor-widget-search .e-search-input::placeholder{ color:var(--e-search-placeholder-color) }

.elementor-widget-search .e-search-input:focus{ outline:none;transition:var(--e-search-input-transition) }

.elementor-widget-search .e-search-input::-ms-clear, .elementor-widget-search .e-search-input::-ms-reveal{ display:none;height:0;width:0 }

.elementor-widget-search .e-search-input::-webkit-search-cancel-button, .elementor-widget-search .e-search-input::-webkit-search-decoration, .elementor-widget-search .e-search-input::-webkit-search-results-button, .elementor-widget-search .e-search-input::-webkit-search-results-decoration{ display:none }

.elementor-widget-search .e-search-results-container{ background-color:var(--e-search-results-background-color);border-radius:var(--e-search-results-border-radius);display:flex;height:-moz-fit-content;height:fit-content;inset-block-start:calc(100% + var(--e-search-input-and-results-gap));inset-inline-end:var(--e-search-results-inset-inline-end);inset-inline-start:var(--e-search-results-inset-inline-start);position:absolute;transform:var(--e-search-results-transform);width:var(--e-search-results-width);z-index:2000 }

.elementor-widget-search .e-search-results-container>div{ border:var(--e-search-results-border-type) var(--e-search-results-border-width) var(--e-search-results-border-color);border-radius:var(--e-search-results-border-radius);max-height:var(--e-search-results-max-height);overflow:auto;padding:var(--e-search-results-padding);width:100% }

.elementor-widget-search .e-search-results-container>div:empty{ display:none }

.elementor-widget-search .e-search-results{ display:none }

.elementor-widget-search .e-search .e-search-submit{ align-items:center;background-color:var(--e-search-submit-background-color);border-color:var(--e-search-submit-border-color);border-radius:var(--e-search-submit-border-radius);border-style:var(--e-search-submit-border-type);border-width:var(--e-search-submit-border-width);color:var(--e-search-submit-color);display:flex;flex-direction:var(--e-search-submit-button-flex-direction);font-size:var(--e-search-form-submit-icon-size);margin-inline-start:var(--e-search-submit-margin-inline-start);padding:var(--e-search-submit-padding);transition:var(--e-search-submit-hover-transition);width:var(--e-search-submit-button-width) }

.elementor-widget-search .e-search .e-search-submit:focus{ transition:--e-search-submit-transition }

.elementor-widget-search .e-search .e-search-submit:focus:not(:focus-visible){ outline:none }

.elementor-widget-search .e-search-input-wrapper, .elementor-widget-search .e-search-label *{ transition:var(--e-search-input-transition) }

.elementor-widget-search .hidden{ opacity:0;visibility:hidden }

.elementor-widget-search .hide-loader .e-search-results{ display:flex;flex-direction:var(--e-search-pagination-vertical-position) }

@keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}

@keyframes loadingOpacityAnimation{0%,to{opacity:1}50%{opacity:.6}}

@keyframes swiper-preloader-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

.elementor-widget-search{ --e-search-input-color:var( --e-global-color-text ); }

.elementor-element-53a8628{ 
  --e-search-icon-label-absolute-width: 16px;
  --e-search-icon-clear-absolute-width: 8.25px;
 }